

@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #001;
    overflow-x: hidden;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}